
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #59330d;
  background-image: -moz-linear-gradient(top, #b47d5f 0%, #59330d 100%);
  background-image: -ms-linear-gradient(top, #b47d5f 0%, #59330d 100%);
  background-image: -o-linear-gradient(top, #b47d5f 0%, #59330d 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b47d5f), color-stop(1, #59330d));
  background-image: -webkit-linear-gradient(top, #b47d5f 0%, #59330d 100%);
  background-image: linear-gradient(top, #b47d5f 0%, #59330d 100%);
}
a {
  color: #946138;
}
a:hover,
a:focus {
  color: #d07227;
}
a:active {
  color: #e6904b;
}
.sidebar .block {
  background-color: #ffffff;
  border-color: #d0d0d0;
}
#page-wrapper,
#footer-wrapper {
  background: #59330d;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #e3c6af;
}
