a span {
  font-family: Georgia,Serif;
  font-style: italic;
  font-size: 45px;
}

#name-and-slogan #site-slogan {
  font-family: 'Courier New',Courier,Monospace;
  font-size: 22px;
  font-style: normal;
}

#page #header {
  background-color: #9e7344;
  background-image: none;
}

a img {
  background-image: none;
  background-position: 50% 50%;
  background-color: transparent;
}

body #page-wrapper {
  background-color: #332828;
}

#page #footer-wrapper {
  background-color: #332828;
}

